.gameOptions{
  height : 100px;
  width : 100%;
  text-align : center;
  vertical-align : middle;
  color : #6E6E6E;
  border-color : #6E6E6E;
  border-style : solid;
}
.gameOptions:hover{
  background-color:#95D7DF;
}

.spanGameOptions{
  line-height: 100px;
  font-weight : bold;
  font-size : 25px;
}

.card{
  position:relative;
  float:left;
  margin-right: -53px;
}

.card:hover{
  margin-top: -15px;
}